<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<multipart-config>
    <max-file-size>16177215</max-file-size>
    <max-request-size>16177215</max-request-size>
</multipart-config>
<welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
</welcome-file-list>

</web-app>